@import "https://fonts.googleapis.com/css2?family=Quicksand&display=swap";

body, html{
    font-family: 'Quicksand', sans-serif;
    height: 100%;
}

body {
    background-color: #9edef0;
}

div {
    display: block;
}

.sidebar {
    height: 30vh;
}


.sidebar-item:hover {
    background-color:  #a5b1c2;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.card {
    background-color: #ffffff;  
}

.full-div {
    position: absolute;
    min-height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.relative-full-div {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
}

.matches-picture {
    width:95%;
    height:85vh;
    object-fit:cover;
    object-position:50% 50%;
}

.modal-picture{
    width:100%;
    height:50vh;
    object-fit:cover;
    object-position:50% 50%;
}

.profile-cover {
    width:95%;
    height:20vh;
    object-fit:cover;
    object-position:50% 50%;
}

.profile-picture {
    width:100%;
    height:20vh;
    object-fit:contain;
    object-position:50% 50%;
}

.date-cover {
    width:100%;
    height:40vh;
    object-fit:cover;
}

.profile-div {
    position: relative;
  }

.round-icon {
    height: 55px; 
    width: 55px; 
    object-fit:cover; 
    border-radius: 50%;
}
  
.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }

  .vl {
    border-left: 1px solid white;
  }